.container a {
    display: flex;
    width: 200px;
    height: 150px;
    justify-content: center;
    align-items: center;
    border: 1px rgba(0, 0, 0, .2);
    border-radius: 15px;
    margin: 16px;
    -webkit-box-shadow: 5px 5px 5px 5px #000000;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .25);
}

.container {
    flex-direction: row;
    margin: 15px;

}